<a href="https://colab.research.google.com/github/MABD-KARIM/retail_batch_gcp/blob/main/customers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install faker

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-18.10.1-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 19.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-18.10.1

In [1]:
from faker import Faker
fake=Faker()

In [2]:
cities = ["Paris", "Nantes","Lyon","Lille","Marseille","Bordeaux","Toulouse","Rennes","Rouen","Paris","Paris","Paris","Lille","Lille","Lyon","Lyon","Paris"]

In [3]:
import csv
from random import choice
header = ["CustId","CustFirstName","CustLastName","CustCity"]
with open("customers.csv", mode="w") as file:
  writer = csv.writer(file)
  writer.writerow(header)
  for id in range(1,101):
    row=[]
    row.append(id)
    fname=fake.first_name()
    row.append(fname)
    lname=fake.last_name()
    row.append(lname)
    city = choice(cities)
    row.append(city)
    writer.writerow(row)

In [4]:
import pandas as pd

df = pd.read_csv("customers.csv")
df.head(10)

   CustId CustFirstName CustLastName   CustCity
0       1       Crystal        Green     Nantes
1       2          Kyle     Campbell  Marseille
2       3       Crystal      Johnson       Lyon
3       4        Angela       Gordon      Lille
4       5         Jamie   Strickland   Bordeaux
5       6      Jonathan   Montgomery      Paris
6       7   Christopher        Owens     Rennes
7       8         Amber      Ramirez     Nantes
8       9         Kayla        Jones     Nantes
9      10         Wayne        Owens      Rouen