<a href="https://colab.research.google.com/github/MABD-KARIM/retail_batch_gcp/blob/main/initial_stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv

In [2]:
header = ["StockDate","ProdId","StockQty"]
with open("initial_stock.csv", mode="w") as file:
  writer = csv.writer(file)
  writer.writerow(header)
  for i in range(1,41):
    row=[]
    row.append("2019-12-31")
    row.append(i)
    row.append(200)
    writer.writerow(row)

In [3]:
import pandas as pd

df = pd.read_csv("initial_stock.csv")
df.head(10)

    StockDate  ProdId  StockQty
0  2019-12-31       1       200
1  2019-12-31       2       200
2  2019-12-31       3       200
3  2019-12-31       4       200
4  2019-12-31       5       200
5  2019-12-31       6       200
6  2019-12-31       7       200
7  2019-12-31       8       200
8  2019-12-31       9       200
9  2019-12-31      10       200